@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
    box-sizing: border-box;
}


body{
    background-color: black;
}

p{
    color: white;
}

h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #33A8DB;
}

h2{
    font-size: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #33A8DB;
    font-weight: 700;
}


.banner{
    padding-top: 50px;
    background-image: url('../images/banner.png'), linear-gradient(#00000099,#31a9dd33,#00000099);
    height: 600px;
    border-bottom: 1px solid #33A8DB;
}

.banner-content h1{
    margin-top: 30px;
    margin-bottom: 20px;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB,#147287);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p{
    width: 513px;
    margin: auto;
    font-size: 1.25rem;
    
}
.banner .logo{
    height: 260px;
    width: 260px;
    margin: auto;
    background-color: rgba(0,0,0,.15);
    border-radius: 50%;
    padding: 10px;
}

.banner .logo img{
    margin: auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.banner-content button{
    display: flex;
    padding: 20px 40px;
    margin: 20px auto;
    font-weight: 900;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-color: #33A8DB;
    border-width: 2px;
    background-color: transparent;
    color: #33A8DB;
}
#course-content{
    margin: auto;
}

#course-content h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

#course-content p{
    width: 800px;
    display: flex;
    margin: 20px auto;
    
    
}


.module{
    color: white;
    background-color: #252525;
    width: 530px;
    border: 1px solid #33A8DB;
    border-radius: 90px;
    padding: 16px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -5px 6px 8px rgba(0,0,0,.7);
}
.module span{
    color: #33A8DB;
    margin-right: 8px;
}

#transform-world{
    height: 500px;
    width: 1400px;
    margin: auto;
    margin-top: 100px;
    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
}
#transform-world p{  
    font-weight: 900;
    text-transform: lowercase;
    text-shadow: 2px 1px #33A8DB;
    max-width: 250px;
    font-size: 2.5rem;
    margin-top: 200px;
    margin-left: 200px;
}

#professional-challenges {
    text-align: center;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 50px;
    
}

#professional-challenges p{
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 800px;
    margin: auto;
}

footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #33A8DB;
    background-image: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    
}

footer a{
    text-decoration: none;
    color: #33A8DB;
    font-weight: bold;
}

